<header>
    <div layout="row">
        <div layout="row" layout-align="start center">
            <nav style="display: flex; gap: 50px;">
                <a routerLink="/home" style="color: whitesmoke;">HOME</a>
                <a routerLink="/about" style="color: whitesmoke;">ABOUT</a>
                <a routerLink="/in-the-works" style="color: whitesmoke;">BOOK</a>
                <a routerLink="/artwork" style="color: whitesmoke;">ARTWORK</a>
                <a routerLink="/contact" style="color: whitesmoke;">CONTACT</a>
            </nav>
        </div>
    </div>
</header>