<header>
    <div layout="row">
        <div layout="row" layout-align="start center">
            <nav style="display: flex; gap: 50px;">
                <a routerLink="/home" style="color: green;">HOME</a>
                <a routerLink="/about" style="color: green;">ABOUT</a>
                <a routerLink="/book-hook" style="color: green;">BOOK</a>
                <a routerLink="/artwork" style="color: green;">ARTWORK</a>
                <a routerLink="/contact" style="color: green;">CONTACT</a>
            </nav>
        </div>
    </div>
</header>