<header>
    <div layout="row">
        <div layout="row" layout-align="start center">
            <nav style="display: flex; gap: 50px;">
                <button routerLink="/home" style="color: green;">HOME</button>
                <button routerLink="/about" style="color: green;">ABOUT</button>
                <button routerLink="/book-hook" style="color: green;">BOOK</button>
                <button routerLink="/artwork" style="color: green;">ARTWORK</button>
                <button routerLink="/contact" style="color: green;">CONTACT</button>
            </nav>
        </div>
    </div>
</header>