<div layout="row">
    <div layout="row" layout-align="start center">
        <nav style="display: flex; gap: 50px;">
            <a routerLink="/home" style="font-family: 'Amarante', serif; color: whitesmoke; font-size: 35px">HOME</a>
            <a routerLink="/about" style="font-family: 'Amarante', serif; color: whitesmoke; font-size: 35px">ABOUT</a>
            <a routerLink="/in-the-works" style="font-family: 'Amarante', serif; color: whitesmoke; font-size: 35px">BOOK</a>
            <a routerLink="/artwork" style="font-family: 'Amarante', serif; color: whitesmoke; font-size: 35px">ARTWORK</a>
            <a routerLink="/contact" style="font-family: 'Amarante', serif; color: whitesmoke; font-size: 35px">CONTACT</a>
        </nav>
    </div>
</div>