<div layout="row">
    <div layout="row" layout-align="start center">
        <nav style="display: flex; gap: 50px;">
            <a routerLink="/home" style="color: white; font-size: 25px">HOME</a>
            <a routerLink="/about" style="color: white; font-size: 25px">ABOUT</a>
            <a routerLink="/in-the-works" style="color: white; font-size: 25px">BOOK</a>
            <a routerLink="/artwork" style="color: white; font-size: 25px">ARTWORK</a>
            <a routerLink="/contact" style="color: white; font-size: 25px">CONTACT</a>
        </nav>
    </div>
</div>