<div style="text-align: center;">
    <h2>A.M. OAKLEY</h2>
    <p>A.M. Oakley wasn't raised on bedtime  <br>
        stories - she created her own  <br>
    <br>
    A latchkey kid with her head int he clouds<br>
    she turned to imagination as a way to<br>
    escape a world that offered little softness.<br>
    Over time, those stories - once whispered<br>
    to no one - became bedtime rituals for her<br>
    own children, and eventually, full-fledged<br>
    worlds of their own<br>
    <br>
    Her writing carries the heart of that<br>
    journey: tehnder, vivid, and fiercely human.<br>
    She writes for the quiet kids, the<br>
    dreamers, and anyone who's everhad to<br>
    build their own magic from scratch<br>
    <br>
    These days, she lives in a dessert city that<br>
    dreams of rain, with her husband, her<br>
    children, a wolf-hearted dog, and a bold<br>
    little mockingbirdwho sings back when<br>
    called...<br>
    <br>
    </p>
</div>