<h2>A.M. OAKLEY</h2>
<p style="text-align: center;">Stories that grow in the quiet light of wonder.</p>
<div layout="column" style="text-align: center;">
    <div>
        <button routerLink="/about" style="margin-top: 100px; background-color: #b9ab8dcc; color: white; border: 2px solid #bfa76f; border-radius: 20px; padding: 10px 24px; font-size: 1rem; font-family: 'Georgia', serif; cursor: pointer; transition: background 0.2s, color 0.2s;">
            Read More
        </button>
    </div>
    <div *ngIf="isLoggedIn">
        <h1>YOU ARE NOW LOGGED IN</h1>
    </div>
    <div>
        <button
        style="margin-top: 100px; background-color: #b9ab8dcc; color: white; border: 2px solid #bfa76f; border-radius: 20px; padding: 10px 24px; font-size: 1rem; font-family: 'Georgia', serif; cursor: pointer; transition: background 0.2s, color 0.2s;"
        (click)="openAgentLogin()"
        >
        Professional Access
        </button>
    </div>
</div>